.actions-btn
  button.actions-btn__btn(type='button')
    i
  
  .actions-btn__tooltip
    .actions-btn__list
      button.actions-btn__item(type='button') Пожаловаться
      button.actions-btn__item(type='button') Что-то ещё