.actions
  button(type='button').actions__like-btn.card__like-btn--active
      .actions__like-icon
        +like_icon
      | 14

    button(type='button').actions__comments-btn
      .actions__comments-icon
        +comments_icon
      | 2

    button(type='button').actions__notifications-btn
      .actions__notifications-icon
        +share_icon
      | 1