.card.card--feed
  .card__head
    h2.card__title
      | Помощь детям

    button(type='button').card__actions-btn
      i

  .card__pic
    +retina_img_png('userprofile-item1', '')

    button(type='button').card__pic-btn
      +pic-btn
    
  .card__inner-wrap
    .card__user
      .card__userpic
        +retina_img_png('user', '')
      .card__user-info
        span.card__user-name Daria Ionova
        time.card__time 15:34

    ul.card__event-participants
      li.card__participant
        +retina_img_png('participant', '')
      li.card__participant
        +retina_img_png('participant', '')
      li.card__participant
        +retina_img_png('participant', '')

  p.card__text
    | Друзья, давайте завтра отвезем
    | в детский дом  необходимые 
    | вещи, книги… 

  .card__item-wrapper
    .card__item
      .card__icon-bg
        .card__icon-clock
          +clock_icon
      | 5 декабря в 10:00

    .card__item
      .card__icon-bg
        .card__icon-location
          +location_icon
      | Милютинский переулок,5

  ul.card__tags-wrap
    li.card__tag 3-5 вещей
    li.card__tag авто

  .card__footer
    .card__btns-bot
      button(type='button').card__like-btn.card__like-btn--active
        .card__like-icon
          +like_icon
        | 14

      button(type='button').card__comments-btn
        .card__comments-icon
          +comments_icon
        | 2

      button(type='button').card__notifications-btn
        .card__notifications-icon
          +share_icon
        | 1
    
    .card__status
      button.card__status-btn.card__status-btn--in-progress(type='button')
        | Выполняется
