.card
  .card__head
    .card__inner-wrap
      .card__user
        .card__userpic
          +retina_img_png('user', '')
        .card__user-info
          span.card__user-name Daria Ionova
          time.card__time 15:34

      ul.card__event-participants
        li.card__participant
          +retina_img_png('participant', '')
        li.card__participant
          +retina_img_png('participant', '')
        li.card__participant
          +retina_img_png('participant', '')

    button(type='button').card__actions-btn
      +more_actions_icon

  .card__pic
    +retina_img_png('userprofile-item1', '')

    button(type='button').card__pic-btn
      +pic-btn

  p.card__text
    | Друзья, давайте завтра отвезем
    | в детский дом  необходимые 
    | вещи, книги… 

  .card__btns-bot
    button(type='button').card__like-btn.card__like-btn--active
      .card__like-icon
        +like_icon
      | 14

    button(type='button').card__comments-btn
      .card__comments-icon
        +comments_icon
      | 2

    button(type='button').card__notifications-btn
      .card__notifications-icon
        +share_icon
      | 1
