.comments-actions-btn
  button.comments-actions-btn__btn(type='button')
    i

  .comments-actions-btn__tooltip   
    .comments-actions-btn__list
      button.comments-actions-btn__item(type='button') Пожаловаться
      button.comments-actions-btn__item(type='button') Спам
