.friend.first-friend
  .friend__photo
    img(src="../../img/User Copy7.png")
  .friend-text
    .friend-text__name
      p Petr Vitov
    .friend-text__friend-city
      p Минск 
    .friend-text__about
      p Авто, Пожилые, Медпомощь, Жив..      
  .button.friend__button 
    button
      Добавить
  .points
    img(src="../../img/points.png")
.friend
  .friend__photo
    img(src="../../img/User Copy1.png")
  .friend-text
    .friend-text__name
      p Max Libertu
    .friend-text__friend-city
      p Rio de janeiro  
    .friend-text__about
      p                  
  .button.friend__button 
    button
      Добавить
  .points
    img(src="../../img/points.png")                
.friend
  .friend__photo
    img(src="../../img/User Copy2.png")
  .friend-text
    .friend-text__name
      p Lisa Kosova
    .friend-text__friend-city
      p Москва  
    .friend-text__about
      p Дети, Животные, Пожилые, Прир..                 
  .button.friend__button 
    button
      Добавить
  .points
    img(src="../../img/points.png")                
.friend
  .friend__photo
    img(src="../../img/User Copy3.png")
  .friend-text
    .friend-text__name
      p Paola La
    .friend-text__friend-city
      p Helsinki  
    .friend-text__about
      p                
  .button.friend__button 
    button
      Добавить
  .points
    img(src="../../img/points.png")                
.friend
  .friend__photo
    img(src="../../img/User Copy4.png")
  .friend-text
    .friend-text__name
      p Tom York
    .friend-text__friend-city
      p London
    .friend-text__about
      p Animals, Children, Nature             
  .button.friend__button 
    button
      Добавить
  .points
    img(src="../../img/points.png")                
.friend
  .friend__photo
    img(src="../../img/User Copy6.png")
  .friend-text
    .friend-text__name
      p @bagiralen
    .friend-text__friend-city
      p Livov  
    .friend-text__about
      p                 
  .button.friend__button 
    button
      Добавить
  .points
    img(src="../../img/points.png")                
.friend
  .friend__photo
    img(src="../../img/User Copy5.png")
  .friend-text
    .friend-text__name
      p @kita
    .friend-text__friend-city
      p Москва  
    .friend-text__about
      p Животные, Дети, Медпомощь                  
  .button.friend__button 
    button
      Добавить           
  .points
    img(src="../../img/points.png")