.new-post
  .new-post__message
    .new-post__author
      span.new-post__shortname
        | NM

    .new-post__text-block
      textarea.new-post__textarea(placeholder='Описание', maxlength='50')

  .new-post__tags
    ul.new-post__tag-list
      li.new-post__tag-item
        | вещи
      li.new-post__tag-item
        | авто
      li.new-post__tag-item
        | еда
    .new-post__addtag-btn
      | Добавить тэги

  .new-post__actions
    .new-post__select-date-btn
      +clock_icon
    .new-post__select-location-btn
      +location_icon
    label.new-post__form-attach-file
      input#event-attach-file.new-post__form-attach-input(type='file')
      +camera_gray_icon
    #event-attach-people.new-post__form-attach-people
      +user_gray_icon
    .new-post__form-submit
      button#change-privacy.new-post__form-privacy-btn(type='button', data-private='false')
        .new-post__form-privacy-icon--false
          +privacy_unlock_gray_icon
        .new-post__form-privacy-icon--true
          +privacy_lock_gray_icon

    button.new-post__form-submit-btn(type='submit')
      | Создать