ul.pictures-list
  li.pictures__picture    
    img(src="../../img/1.png")    
  li.pictures__picture    
    img(src="../../img/17.png")     
  li.pictures__picture    
    img(src="../../img/3.png") 
  li.pictures__picture    
    img(src="../../img/4.png") 
  li.pictures__picture    
    img(src="../../img/5.png") 
  li.pictures__picture    
    img(src="../../img/6.png") 
  li.pictures__picture    
    img(src="../../img/7.png") 
  li.pictures__picture    
    img(src="../../img/8.png") 
  li.pictures__picture    
    img(src="../../img/9.png") 
  li.pictures__picture    
    img(src="../../img/17.png") 
  li.pictures__picture    
    img(src="../../img/14.png") 
  li.pictures__picture    
    img(src="../../img/12.png") 
  li.pictures__picture    
    img(src="../../img/13.png") 
  li.pictures__picture    
    img(src="../../img/14.png") 
  li.pictures__picture    
    img(src="../../img/14.png") 
  li.pictures__picture    
    img(src="../../img/17.png") 
  li.pictures__picture    
    img(src="../../img/17.png") 
  li.pictures__picture    
    img(src="../../img/18.png") 
  li.pictures__picture    
    img(src="../../img/19.png") 
  li.pictures__picture    
    img(src="../../img/20.png") 
  li.pictures__picture    
    img(src="../../img/14.png")