.select-group
  .select
    button.select__btn(type="button") 
      span.select__btn-mob-text
        | Статус
      span.select__btn-text
        | Все события
      i

    ul.select__list
      li.select__item
        label.select__label(for="active")
          span.select__label-text
            | Активные
          input.select__checkbox(type="checkbox" id="active")
          i.select__box
      li.select__item
        label.select__label(for="finished")
          span.select__label-text
            | Завершенные
          input.select__checkbox(type="checkbox" id="finished")
          i.select__box
  
  .select
    button.select__btn(type="button") 
      | События друзей
      i

    ul.select__list
      li.select__item
        label.select__label(for="1")
          span.select__label-text
            | Все
          input.select__checkbox(type="checkbox" id="1")
          i.select__box
      li.select__item
        label.select__label(for="2")
          span.select__label-text
            | Daria Ionova
          input.select__checkbox(type="checkbox" id="2")
          i.select__box
      li.select__item
        label.select__label(for="3")
          span.select__label-text
            | Paola La
          input.select__checkbox(type="checkbox" id="3")
          i.select__box

  .select
    button.select__btn(type="button") 
      | По тегам
      i

    ul.select__list
      li.select__item
        label.select__label(for="4")
          span.select__label-text
            | Животные
          input.select__checkbox(type="checkbox" id="4")
          i.select__box
      li.select__item
        label.select__label(for="5")
          span.select__label-text
            | Дети
          input.select__checkbox(type="checkbox" id="5")
          i.select__box
      li.select__item
        label.select__label(for="6")
          span.select__label-text
            | Пожилые
          input.select__checkbox(type="checkbox" id="6")
          i.select__box
      li.select__item
        label.select__label(for="7")
          span.select__label-text
            | Автопомощь
          input.select__checkbox(type="checkbox" id="7")
          i.select__box
      li.select__item
        label.select__label(for="8")
          span.select__label-text
            | Медпомощь
          input.select__checkbox(type="checkbox" id="8")
          i.select__box