.card-comments
  display: block
  position: relative
  left: 0
  top: 0
  width: 100%
  max-height: 0
  padding: 0 9px
  opacity: 0
  transition: max-height 0.8s linear .3s, padding 1s, opacity .6s
  overflow: hidden

  &::before
    position: absolute
    top: 0
    left: 9px
    content: ''
    width: calc(100% - 19px)
    height: 1px
    background-color: #D6D5D5

  +respond-from(600px)
    padding: 9px 25px 25px

.card-comments--active
  padding: 17px 9px 15px
  opacity: 1
  transition: max-height 0.8s linear, padding .3s linear 0s, opacity .7s linear .8s

.card-comments__expand-btn
  position: relative
  padding-right: 20px
  +OpenSansRegular
  font-size: 14px
  color: #A2A0A0
  border: none
  background-color: transparent
  cursor: pointer 

  i
    position: absolute
    top: 13px
    right: 5px
    width: 1px
    height: 1px
    background-color: transparent
    transform: rotate(180deg)

    &::before,
    &::after
      position: absolute
      top: 2px
      right: -5px
      content: ''
      width: 7px
      height: 1px
      background-color: #A2A0A0
      transform: rotate(45deg)

    &::after
      top: 2px
      right: -1px
      transform: rotate(-45deg)

.card-comments__expand-btn--active
  i
    top: 9px
    transform: rotate(0deg)

.card-comments__list  
  padding-top: 9px
  padding-bottom: 15px
  max-height: 98px
  transition: max-height 0.8s linear .3s
  overflow: hidden

  .card-comments__comment:first-child
    opacity: 1 
    transition: opacity .7s linear .8s

  .card-comments__comment:nth-child(n + 2)
    opacity: 0    

.card-comments__list--active
  transition: max-height 0s linear 0s

  .card-comments__comment:nth-child(n+2)
    display: flex
    opacity: 1
    transition: opacity .7s linear .8s

.card-comments__comment
  display: flex
  align-items: flex-start
  position: relative
  padding-left: 1px
  margin-bottom: 13px  
  opacity: 0   
  transition: opacity .6s

  &:last-child
    margin-bottom: 0

.card-comments__comment-userpic
  margin-top: 5px
  margin-right: 7px  

  img
    display: block
    position: static
    width: 30px
    height: 30px

.card-comments__comment-inner
  flex-grow: 1
  padding-right: 40px

.card-comments__comment-username
  margin-bottom: 4px
  +OpenSansSemiBold
  font-size: 13px
  color: #A2A0A0

.card-comments__comment-text
  margin-bottom: 4px
  +LatoRegular
  font-size: 14px
  color: #4D4C4C

.card-comments__comment-wrap
  display: flex

.card-comments__comment-time  
  +OpenSansRegular
  font-size: 13px
  color: #A2A0A0
  margin-right: 15px

.card-comments__comment-reply-btn
  border: none
  background-color: transparent
  +OpenSansRegular
  font-size: 13px
  color: #A2A0A0
  cursor: pointer

.card-comments__comment-actions
  position: absolute
  top: 0
  right: 0

.card-comments__comment-like-btn
  display: flex
  justify-content: flex-end
  align-items: center
  position: absolute
  top: 21px
  right: -1px
  height: 20px
  border: none  
  background-color: transparent
  cursor: pointer
  z-index: 2

  span
    margin-right: 3px
    +OpenSansSemiBold
    font-size: 13px
    color: #D6D5D5
    
.card-comments__like-icon
  position: relative
  width: 11px
  height: 16px

.card-comments__comment-like-empty
  opacity: 1

  svg
    position: absolute
    top: 3px
    right: 1px
    width: 12px
    height: 11px

.card-comments__comment-like
  opacity: 0
  
.card-comments__comment-like-btn--active
  span
    color: #F88E7D

  .card-comments__like-icon
    .card-comments__comment-like-empty
      opacity: 0
    .card-comments__comment-like
      opacity: 1

      svg
        position: absolute
        top: 4px
        right: -1px
        width: 13px
        height: 12px

.card-comments__add-comment
  display: flex
  position: relative

.card-comments__add-comment-textarea
  flex-grow: 1
  height: auto
  padding-top: 12px
  margin-right: 25px
  border: none
  +LatoRegular
  font-size: 13px
  color: #4D4C4C
  resize: none

.card-comments__add-comment-btn
  position: absolute
  top: 10px
  right: -3px
  display: flex
  justify-content: center
  align-items: center  
  width: 25px
  height: 25px
  border: none
  background-color: transparent
  cursor: pointer
  z-index: 1

  svg
    width: 18px
    height: 17px
    margin: 0 auto