.feed
  max-width: 600px
  margin: 0 auto
  padding-top: 16px

  .container
    min-width: 320px
    padding: 0 15px

    +respond-from(600px)
      width: 470px
      padding: 0

    +respond-from(1440px)
      width: 530px
      padding: 0

// .feed__tabs
//   display: flex
//   justify-content: center
//   margin-bottom: 38px
//   margin-top: 12px

// .feed__tabs-wrapper
//   @extend %switcher

// .feed__tab
//   @extend %switcher__tab

//   &--active
//     border-bottom: 5px solid #FA796A
//     color: #1f1e1e

// .feed__content
//   margin-top: 32px