body
  +font-smoothing
  
.container
  max-width: 1215px
  margin: 0 auto
  width: 100%
  padding: 0 20px
  padding-top: 50px

  +respond-to(650px)
    padding: 0 5px

.container--relative
  position: relative

main
  +respond-to(1024px)
    min-height: calc(100vh - 91px)
  
  +respond-to(650px)
    min-height: calc(100vh - 52px)

.content
  background-color: #f9f9f9
  transition: .3s ease-out transform
  padding-bottom: 70px

  +respond-to(1024px)
    padding-bottom: 0

  .mobile-navigation-open &
    transform: scale(0.7) translateX(80vw)
    box-shadow: 0 2px 12px 0 #e4855c
