.post-create
  margin: 0 20px 19px
  background: #FFFFFF
  box-shadow: 0 1px 12px 0 #E1E1E0
  border-radius: 10px

.post-create__tabs
  display: flex
  background-color: #fff
  border-radius: 10px 10px 0 0

.post-create__tab--default
  width: 467px
  background-image: linear-gradient(90deg, #f6b459 3%, #f78e7c 100%)
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px
  border-bottom-left-radius: 15px

.post-create__tab--active
  border-top-left-radius: 10px
  width: 150px

.post-create__tab-btn
  background-color: transparent
  color: #fff
  border: none
  +OpenSansSemiBold
  font-size: 16px
  cursor: pointer
  padding: 11px 18px 7px

  .post-create__tab--active &
    color: #a2a0a0

.post-create__body
  padding: 13px 11px 18px

.post-create__form-wrapper
  display: flex
  justify-content: flex-end
  align-items: center
  margin-bottom: 10px

.post-create__form-wrapper--bottom
  margin-top: 17px
  margin-bottom: 0
  justify-content: space-between

.post-create__form-wrapper--note
  margin-top: 26px
  margin-bottom: 0
  justify-content: space-between

.post-create__form-time,
.post-create__form-place
  cursor: pointer

.post-create__form-help
  width: 135px

.post-create__select-date-btn,
.post-create__select-location-btn,
.post-create__form-things-icon
  display: flex
  align-items: center
  justify-content: center
  flex-shrink: 0
  width: 24px
  height: 24px
  margin-left: 19px
  border: none
  background-color: transparent
  background-image: linear-gradient(-180deg, #F08F8C 0%, #F7C063 100%)
  border-radius: 50%
  cursor: pointer

  svg
    width: 13px
    height: 12px
    margin: 0 auto

.post-create__select-location-btn
  margin-left: 16px

  svg
    width: 10px
    height: 20px

.post-create__form-message  
  position: relative
  display: flex
  align-items: flex-start
  border-bottom: 1px solid #D8D8D8

.post-create__form-message-author
  display: flex
  justify-content: center
  align-items: center
  width: 35px
  height: 35px
  border-radius: 50%
  background: #FFD700

.post-create__form-message-text
  +LatoBold
  font-size: 17px
  color: #FFFFFF

.post-create__text-block
  position: relative
  flex-grow: 1

.post-create__form-message-textarea
  width: 100%
  padding: 0 6px
  margin-top: 8px
  height: 34px
  +LatoRegular
  font-size: 15px
  line-height: 1.4
  color: #333
  border: none
  resize: none

  &--extended
    height: 65px
    margin-bottom: 5px

.post-create__hint
  display: none
  position: absolute
  bottom: -58px
  right: calc(50% - 85px)
  width: 165px
  text-align: center
  font-size: 10px
  color: #ffffff
  +LatoBold
  font-weight: 700
  text-transform: uppercase
  background-color: grey
  padding: 10px
  border-radius: 3px
  z-index: 10
  cursor: default

  &::after
    position: absolute
    content: ''
    top: -10px
    right: calc(50% - 8px)
    width: 0
    height: 0
    border-style: solid
    border-width: 0 8px 10px 8px
    border-color: transparent transparent grey transparent

  &--show
    display: block

.post-create__form-things
  margin-top: 22px
  display: flex
  align-items: flex-start
  position: relative

.post-create__form-things-icon
  margin-left: 0
  margin-top: 2px

  svg
    max-width: 14px
    max-height: 18px

.post-create__add-tag-btn
  position: absolute
  top: 6px
  right: 17px
  width: 17px
  height: 17px
  background-color: transparent
  border: none
  cursor: pointer

#post-create__form-help-button
  background-color: transparent
  border: none
  +OpenSansRegular
  font-size: 15px
  color: #a2a0a0
  width: 100%
  padding: 8px 0

.post-create__tags-list
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  flex-grow: 1  
  padding-left: 8px
  padding-right: 35px

.post-create__tag
  border: 1px solid rgba(#c9c6c6, .7)
  border-radius: 32px
  +OpenSansRegular
  font-size: 15px
  color: #a2a0a0
  padding: 4px 15px
  cursor: pointer
  transition: .15s ease-out
  margin-bottom: 10px
  margin-right: 9px

  &:hover
    background-image: linear-gradient(-180deg, #f08f8c 0%, #f7c063 100%)
    border-color: #f08f8c
    color: #fff

.post-create__tag--active
  background-image: linear-gradient(-180deg, #f08f8c 0%, #f7c063 100%)
  border-color: #f08f8c
  color: #fff
  box-shadow: 0 0 10px 2px rgba(#f08f8c, .5)

.post-create__form-things-field
  display: none
  margin-top: 10px  

  input
    appearance: none
    width: calc(100% - 106px)
    padding: 4px 8px
    +LatoRegular
    border-radius: 5px
    border: 1px solid rgba(201, 198, 198, .7)
    margin-right: 16px

  button
    width: 92px
    flex-shrink: 0
    +OpenSansRegular
    background-color: transparent
    border: 1px solid #f7c063
    color: #a2a0a0
    border-radius: 15px
    padding: 8px 12px
    cursor: pointer
    transition: .15s ease-out
    font-size: 14px

    &:hover
      color: #fff
      background-color: #f7c063

.post-create__form-things-field--show
  display: flex
  justify-content: space-between

.post-create__form-attach
  display: flex

.post-create__form-attach-text
  display: none

  // +OpenSansRegular
  // font-size: 16px
  // color: #a2a0a0
  // margin-right: 12px


.post-create__form-attach-file
  margin-right: 18px
  background-color: transparent
  border: none
  cursor: pointer
  position: relative
  
  svg
    width: 19px
    height: 15px

.post-create__form-attach-people
  background-color: transparent
  border: none
  cursor: pointer
  position: relative
  
  svg
    width: 15px
    height: 14px

.post-create__people-list
  width: 270px
  max-height: 275px  
  position: absolute
  left: calc(50% - 52px)
  top: calc(100% + 20px)
  opacity: 0
  visibility: hidden
  background-color: #fff
  box-shadow: 0 1px 4px 1px rgba(185, 181, 181, .5)
  border-radius: 8px  

  &:before
    position: absolute
    top: 0
    left: 69px
    content: ''    
    border: 12px solid black
    border-color: transparent transparent #fff #fff
    transform-origin: 0 0
    -webkit-transform: rotate(-45deg)
    transform: rotate(135deg)
    box-shadow: -2px 2px 11px -3px rgba(185, 181, 181, 0.5)    
    z-index: 0 

.post-create__form-attach-people--active:before
  border-color: transparent transparent #f1f2f6 #f1f2f6

.post-create__people-list--visible
  opacity: 1
  visibility: visible

.post-create__form-attach-people-list
  max-height: 240px
  overflow-y: auto
  transition: .2s ease-out
  z-index: 1
  position: relative
  background-color: #fff
  border-radius: 8px

.post-create__form-attach-people-list-title
  padding: 8px
  font-size: 14px
  color: #a2a0a0
  position: relative
  background-color: #fff
  z-index: 1

.post-create__form-attach-people-item
  padding: 7px 12px
  display: flex
  align-items: center
  cursor: pointer

.post-create__form-attach-people-item--checked
  background-color: #f1f2f6

.post-create__form-attach-people-item-photo
  width: 40px
  height: 40px
  border-radius: 50%
  margin-right: 8px

  img
    width: 100%

.post-create__form-attach-people-item-name
  margin-right: 10px
  +OpenSansSemiBold
  font-size: 14px
  color: #a2a0a0

.post-create__form-attach-btn--photo:before
  left: 5px

.post-create__form-privacy-btn
  background-color: transparent
  border: none
  cursor: pointer
  position: relative
  margin-right: 15px

.post-create__form-privacy-icon--false,
.post-create__form-privacy-icon--true
  svg
    width: 11px
    height: 20px

.post-create__form-privacy-icon--false
  .post-create__form-privacy-btn--private &
    display: none

.post-create__form-privacy-icon--true
  display: none

  .post-create__form-privacy-btn--private &
    display: block

.post-create__form-attach-input
  opacity: 0
  visibility: hidden
  position: absolute
  left: -9999px

.post-create__form-submit
  display: flex
  align-items: center 

.post-create__form-submit-btn
  width: 100px
  height: 30px
  padding: 2px 0
  background-image: linear-gradient(-90deg, #F88E7D 0%, #F6B459 100%)
  box-shadow: 0 2px 4px 0 rgba(230,227,227,0.50)
  border-radius: 30px
  +OpenSansSemiBold
  font-size: 13px
  color: #FFFFFF
  border: none
  cursor: pointer

.post-create__form--note
  display: none

  .post-create__body--note &
    display: block
    padding-top: 10px

.post-create__form--event
  .post-create__body--note &
    display: none

.post-create__fast-add-btn
  position: relative
  top: 8px
  right: 0
  display: flex
  justify-content: center
  align-items: center
  border: none
  background-color: transparent
  width: 24px
  height: 24px
  cursor: pointer

  svg
    width: 24px
    height: 24px
    margin: 0 auto


.post-create__fast-add
  display: none

.post-create__fast-add--active
  display: block

.post-create__fast-add-backdrop
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100vh
  z-index: 4
  background-color: rgba(0, 0, 0, .5)

.post-create__fast-add-modal
  position: fixed
  top: 20px
  left: calc(50% - 135px)
  width: 270px
  padding: 30px 25px
  background: #FFFFFF
  border: 1px solid #EEEEF2
  box-shadow: 0 2px 12px 0 rgba(197,197,196,0.66)
  border-radius: 10px
  z-index: 6

.post-create__fast-add-header
  margin-bottom: 12px
  +LatoBold
  font-size: 16px
  text-align: center
  text-transform: uppercase
  color: #A2A0A0

.post-create__fast-add-title
  margin-bottom: 7px
  +LatoBold
  font-size: 16px
  color: #A2A0A0

.post-create__fast-add-inner
  display: flex
  justify-content: space-between
  align-items: flex-start
  flex-wrap: wrap

.post-create__fast-add-inner-item
  width: 45px
  height: 45px
  margin-right: 12px
  margin-bottom: 10px
  border: none
  background-color: transparent
  cursor: pointer

  &:nth-child(4n) 
    margin-right: 0

  svg
    width: 45px
    height: 45px