.user-profile
  @extend %page-wrapper
  margin-top: 50px
  display: flex

.user-profile__information
  width: 220px
  min-height: 734px
  padding-top: 25px
  background: #FFFFFF
  box-shadow: 0px 4px 7px rgba(160, 159, 159, 0.5)
  border-radius: 6px

.user-profile__name
  +OpenSansSemiBold
  margin-bottom: 13px
  text-align: center
  font-size: 22px  

.user-profile__userpic
  width: 123px
  height: 123px
  margin: 0 auto 15px

.user-profile__write-btn
  @extend %gradient-btn
  display: block
  width: 135px
  height: 40px
  margin: 0 auto 13px
  font-size: 16px
  text-align: center
  padding: 0

.user-profile__subscribe-btn
  @extend %transparent-btn
  display: block
  margin: 0 auto 18px

.user-profile__case
  padding-top: 12px
  padding-bottom: 9px
  font-size: 16px
  color: #A2A0A0
  text-align: center
  border-bottom: 1px solid #D8D8D8    

  &:last-of-type
    border-bottom: none

.user-profile__case-title 
  display: block  
  +OpenSansSemiBold  
  margin-bottom: 10px

.user-profile__case-number
  display: block  
  +OpenSansRegular

.user-profile__btn-wrap
  display: flex
  flex-direction: column
  align-items: center
  padding-top: 17px

.user-profile__back-btn
  display: inline-block
  margin-bottom: 6px
  +OpenSansSemiBold
  font-size: 16px
  color: #FD8E3F
  border: none
  background: transparent
  cursor: pointer

.user-profile__goodyback-icon
  width: 25px
  height: 18px

.user-profile__activity
  flex-grow: 1
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  padding-top: 17px

.user-profile__tabs
  margin-bottom: 10px
  border-bottom: 1px solid #d5d4d4

.user-profile__tab
  border: none
  padding: 10px 35px  
  background-color: transparent
  border-bottom: 5px solid transparent
  display: inline-block
  +OpenSansRegular
  font-size: 18px
  color: #a2a0a0 
  cursor: pointer

  &--active
    border-bottom: 5px solid #FA796A
    color: #1f1e1e

.user-profile__item-list
  display: none
  justify-content: space-between
  width: 825px
  padding-top: 15px

  &--active
    display: flex

.user-profile__item
  width: 260px
  background: #FFFFFF
  box-shadow: 0px 2px 4px rgba(150, 149, 149, 0.5)
  border-radius: 6px

.user-profile__item-title
  position: relative
  height: 45px
  padding-top: 12px 
  padding-left: 11px
  +LatoBold
  font-size: 18px
  color: #FFFFFF
  background: url(../images/item-bg.png) no-repeat
  background-position: -7px -3px
  z-index: 2

.user-profile__item-block
  padding: 0 9px

.user-profile__item-pic
  position: relative
  top: -15px
  width: 240px
  height: 157px
  margin: 0 auto -6px

.user-profile__item-inner
  display: flex
  margin-bottom: 12px

.user-profile__item-userpic
  width: 42px
  height: 42px
  margin-right: 11px

.user-profile__item-dis
  padding-top: 2px

.user-profile__item-name
  display: block
  height: 20px
  +OpenSansSemiBold
  font-size: 12px
  color: #A2A0A0

.user-profile__item-time
  display: block
  +OpenSansRegular
  font-size: 12px
  color: #A2A0A0

.user-profile__item-text
  width: 242px
  height: 57px
  margin-bottom: 17px
  +LatoSemiBold
  font-size: 16px
  color: #262525

.user-profile__item-wrap
  display: flex
  align-items: center
  height: 21px
  margin-bottom: 8px
  +OpenSansRegular
  font-size: 14px
  color: #3E3D3D

.user-profile__item-icon-bg
  display: flex
  justify-content: center
  align-items: center
  width: 20px
  height: 20px
  margin-right: 11px
  background: linear-gradient(180deg, #F08F8C 0%, #F7C063 99.17%)
  border-radius: 50%

.user-profile__item-icon-clock
  svg
    width: 10px
    height: 10px

.user-profile__item-icon-location
  svg
    width: 8px
    height: 11px

.user-profile__item-btns-bot
  display: flex
  align-items: flex-start
  padding-top: 18px
  padding-bottom: 35px
 
.user-profile__item-like-btn,
.user-profile__item-comments-btn,
.user-profile__item-notifications-btn
  display: flex
  align-items: center
  border: none
  background: transparent
  margin-right: 15px
  font-size: 14px
  +OpenSansRegular
  color: #CAC9C9  
  cursor: pointer

  &--active
    color: #F29F7F

.user-profile__item-like-icon
  width: 17px
  height: 15px
  margin-right: 5px

  svg
    width: 17px
    height: 15px

.user-profile__item-comments-icon
  width: 15px
  height: 14px
  margin-right: 5px

  svg
    width: 15px
    height: 14px

.user-profile__item-notifications-icon
  width: 16px
  height: 16px
  margin-right: 5px
  
  svg
    width: 16px
    height: 16px  
  