include ../includes/mixins/icons.jade

doctype html
html(lang='en')
  meta(charset='UTF-8')
  title= 'Admin icons'
  link(rel="stylesheet" href="../css/main.css")
  meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")

  body
    .admin
      .icons
        .icon
          .icon__icon
            +profile_icon
          .icon__name
            | +profile_icon

        .icon
          .icon__icon
            +notifications_icon
          .icon__name
            | +notifications_icon

        .icon
          .icon__icon
            +settings_icon
          .icon__name
            | +settings_icon

        .icon
          .icon__icon
            +header_burger_menu_icon
          .icon__name
            | +header_burger_menu_icon

        .icon
          .icon__icon
            +map_icon
          .icon__name
            | +map_icon

        .icon
          .icon__icon
            +events_icon
          .icon__name
            | +events_icon

        .icon
          .icon__icon
            +star_icon
          .icon__name
            | +star_icon

        .icon
          .icon__icon
            +people_icon
          .icon__name
            | +people_icon

        .icon
          .icon__icon
            +search_icon
          .icon__name
            | +search_icon

        .icon
          .icon__icon
            +all_partners_icon
          .icon__name
            | +all_partners_icon

        .icon
          .icon__icon
            +car_partners_icon
          .icon__name
            | +car_partners_icon

        .icon
          .icon__icon
            +ticket_partners_icon
          .icon__name
            | +ticket_partners_icon

        .icon
          .icon__icon
            +all_in_partners_icon
          .icon__name
            | +all_in_partners_icon

        .icon
          .icon__icon
            +child_things_partners_icon
          .icon__name
            | +child_things_partners_icon

        .icon
          .icon__icon
            +books_partners_icon
          .icon__name
            | +books_partners_icon

        .icon
          .icon__icon
            +bauty_and_health_partners_icon
          .icon__name
            | +bauty_and_health_partners_icon

        .icon
          .icon__icon
            +furniture_partners_icon
          .icon__name
            | +furniture_partners_icon

        .icon
          .icon__icon
            +communication_services_partners_icon
          .icon__name
            | +communication_services_partners_icon

        .icon
          .icon__icon
            +clothes_and_footwear_partners_icon
          .icon__name
            | +clothes_and_footwear_partners_icon

        .icon
          .icon__icon
            +paymens_systems_partners_icon
          .icon__name
            | +paymens_systems_partners_icon

        .icon
          .icon__icon
            +products_partners_icon
          .icon__name
            | +products_partners_icon

        .icon
          .icon__icon
            +google_play_icon
          .icon__name
            | +google_play_icon

        .icon
          .icon__icon
            +login_arrow_right_icon
          .icon__name
            | +login_arrow_right_icon

        .icon
          .icon__icon
            +calendar_icon
          .icon__name
            | +calendar_icon

        .icon
          .icon__icon
            +facebook_icon
          .icon__name
            | +facebook_icon

        .icon
          .icon__icon
            +google_plus_icon
          .icon__name
            | +google_plus_icon

        .icon
          .icon__icon
            +vk_icon
          .icon__name
            | +vk_icon

        .icon
          .icon__icon
            +ruble_icon
          .icon__name
            | +ruble_icon

        .icon
          .icon__icon
            +animal_icon
          .icon__name
            | +animal_icon

        .icon
          .icon__icon
            +car_icon
          .icon__name
            | +car_icon

        .icon
          .icon__icon
            +child_icon
          .icon__name
            | +child_icon

        .icon
          .icon__icon
            +hourglass_icon
          .icon__name
            | +hourglass_icon

        .icon
          .icon__icon
            +education_icon
          .icon__name
            | +education_icon

        .icon
          .icon__icon
            +grand_parent_icon
          .icon__name
            | +grand_parent_icon

        .icon
          .icon__icon
            +plus_icon
          .icon__name
            | +plus_icon

        .icon
          .icon__icon
            +clock_icon
          .icon__name
            | +clock_icon

        .icon
          .icon__icon
            +location_icon
          .icon__name
            | +location_icon

        .icon
          .icon__icon
            +like_icon
          .icon__name
            | +like_icon

        .icon
          .icon__icon
            +comments_icon
          .icon__name
            | +comments_icon

        .icon
          .icon__icon
            +share_icon
          .icon__name
            | +share_icon

        .icon
          .icon__icon
            +things_icon
          .icon__name
            | +things_icon

        .icon
          .icon__icon
            +camera_gray_icon
          .icon__name
            | +camera_gray_icon

        .icon
          .icon__icon
            +user_gray_icon
          .icon__name
            | +user_gray_icon

        .icon
          .icon__icon
            +privacy_lock_gray_icon
          .icon__name
            | +privacy_lock_gray_icon

        .icon
          .icon__icon
            +privacy_unlock_gray_icon
          .icon__name
            | +privacy_unlock_gray_icon

        .icon
          .icon__icon
            +plus_orange_icon
          .icon__name
            | +plus_orange_icon

        .icon
          .icon__icon
            +more_actions_icon
          .icon__name
            | +more_actions_icon
