include ../includes/variables.jade
include ../includes/mixins/mixins.jade

html(lang='en')
  include ../includes/head.jade
  include ../includes/dependecies/js-jquery.jade
  include ../includes/dependecies/js-jqueryui.jade
  include ../includes/dependecies/js-tokenize2.jade
  body
    #page.page
      .content
        include ../includes/header.jade
        .container-main
          .way
            h1.way__name 
              | Daria Ionova
            img.way__arrow(src="images/arrow.png")
            h1.way__active
              | Друзья
          .profile
            .user
              h1.user-name
                | Daria Ionova
              h1.user-city
                | Москва
              img.user-photo(src="images/Daria Ionova.png")
              button.user__write.button
                | Написать
              button.user__subscribe.button
                | Подписаться
              .menu
                .menu__sphere
                  h1.title 
                    | Сфера помощи
                  p
                    | Дети, Животные,
                    br
                    | Пожилые..
                .menu__rewards
                  h1.title 
                    | Награды
                  p.number 
                    | 17
                .menu__friends-number
                  h1.title
                    | Друзья
                  p.number 
                    | 7
                .menu__notice
                  h1.title
                    | Уведомления
                  p.number
                    | 2
                h1.menu__goodyback 
                  | Goodyback
                img.logo-shape(src="images/shape.png")
            .friends
              include ../includes/blocks/Friends-list-tablet.jade
            .pictures
              .search
                input.search__input(type="text" placeholder="Поиск по имени или тегам" name="поиск")
              include ../includes/blocks/pictures.jade


          
    script(src='js/blocks/post-create.js')
    script(src='js/blocks/comments.js')
    script(src='js/blocks/comments.js')
    script(src='js/pages/feed-page.js')    
    include ../includes/footer.jade    
