include ../includes/variables.jade
include ../includes/mixins/mixins.jade

doctype html
html(lang='en')
  include ../includes/head.jade
  include ../includes/dependecies/js-jquery.jade
  include ../includes/dependecies/js-jqueryui.jade
  include ../includes/dependecies/js-tokenize2.jade

  body
    #page.page
      .content
        include ../includes/header.jade
        main.feed
          .container
            //include ../includes/blocks/tabs_switcher.jade
            include ../includes/blocks/select_group.jade
            //include ../includes/blocks/post_create.jade
            include ../includes/blocks/new_post.jade

            .feed__content
              include ../includes/blocks/card_event.jade
              include ../includes/blocks/card_event.jade
              include ../includes/blocks/card_event.jade

    //script(src='js/blocks/post-create.js')
    script(src='js/blocks/actions-btn.js')
    script(src='js/blocks/comments.js')
    //script(src='js/pages/feed-page.js')
    
    include ../includes/footer.jade
