include ../includes/variables.jade
include ../includes/mixins/mixins.jade

doctype html
html(lang='en')
  include ../includes/head.jade

  body
    #page.page
      .content
        include ../includes/header.jade
        main.container
          .notifications

            ul.notifications__item-list
              - for (var i=0; i<3; i++) {
                li.notifications__item
                  a.notifications__item-link(href=empty_href)
                    .notifications__userpic
                      +retina_img_png('userpic', 'Детский дом')

                    .notifications__inner-wrap
                      .notifications__dis
                        .notifications__title.notifications__title--active
                          | Детский дом №5
                        span.notifications__event
                          | День открытых дверей 
                      .notifications__message
                        p.notifications__message-text.notifications__message-text--withgradient
                          | Ваша заявка на участие одобрена
                          | Ваша заявка на участие одобрена
                          | Ваша заявка на участие одобрена
                          | Ваша заявка на участие одобрена
                          | Ваша заявка на участие одобрена
                          | Ваша заявка на участие одобрена
                          | Ваша заявка на участие одобрена
                        time.notifications__time
                          | 12:50
              - }
              
