include ../includes/variables.jade
include ../includes/mixins/mixins.jade

doctype html
html(lang='en')
  include ../includes/head.jade

  body
    #page.page
      .content
        include ../includes/header.jade
        main.container
          .user-profile
            .user-profile__left
              h2.user-profile__name 
                | Daria Ionova
              .user-profile__userpic
                +retina_img_png("Ionova", "Ionova")
              
              button.user-profile__write-btn Написать
              button.user-profile__subscribe-btn Подписаться

              ul.user-profile__cases-list
                li.user-profile__case
                  span.user-profile__case-title Записей
                  span.user-profile__case-number 17
                li.user-profile__case
                  span.user-profile__case-title Добрых дел
                  span.user-profile__case-number 17
                li.user-profile__case
                  span.user-profile__case-title Наград
                  span.user-profile__case-number 17
                li.user-profile__case
                  span.user-profile__case-title Друзей
                  span.user-profile__case-number 26

              .user-profile__btn-wrap
                button.user-profile__back-btn Goodyback
                +retina_img_png("goodyback-icon", "")
            .user-profile__right
              .user-profile__tabs
                button.user-profile__tab.user-profile__tab--active#first-tab Активные
                button.user-profile__tab#second-tab В процессе
                button.user-profile__tab#third-tab Завершенные

              ul.user-profile__item-list#first-list
                li.user-profile__item
                  h3.user-profile__item-title Помощь детям
                  .user-profile__item-pic
                    +retina_img_png("userprofile-item1", "")
                  .user-profile__item-inner
                    .user-profile__item-userpic
                      +retina_img_png("userprofile-user1", "")
                    .user-profile__item-dis
                      span.user-profile__item-name Ivan Ognevich
                      time.user-profile__item-time 15:34
                  p.user-profile__item-text
                    | Ребят, давайте отвезем сегодня 
                    | продукты в питомник для 
                    | собак?

                  .user-profile__item-wrap 
                    .user-profile__item-icon
                      +retina_img_png("clock-icon", "")
                    | 5 декабря в 10:00
                  .user-profile__item-wrap
                    .user-profile__item-icon
                      +retina_img_png("location-icon", "")
                    | Милютинский переулок,5

                  .user-profile__item-btns-bot
                    button.user-profile__item-like-btn.user-profile__item-like-btn--active 14
                    button.user-profile__item-comments-btn 2
                    button.user-profile__item-share-btn 1

                li.user-profile__item
                  h3.user-profile__item-title Помощь детям
                  .user-profile__item-pic
                    +retina_img_png("userprofile-item1", "")
                  .user-profile__item-inner
                    .user-profile__item-userpic
                      +retina_img_png("userprofile-user1", "")
                    .user-profile__item-dis
                      span.user-profile__item-name Ivan Ognevich
                      time.user-profile__item-time 15:34
                  p.user-profile__item-text
                    | Ребят, давайте отвезем сегодня 
                    | продукты в питомник для 
                    | собак?

                  .user-profile__item-wrap 
                    .user-profile__item-icon
                      +retina_img_png("clock-icon", "")
                    | 5 декабря в 10:00
                  .user-profile__item-wrap
                    .user-profile__item-icon
                      +retina_img_png("location-icon", "")
                    | Милютинский переулок,5

                  .user-profile__item-btns-bot
                    button.user-profile__item-like-btn.user-profile__item-like-btn--active 14
                    button.user-profile__item-comments-btn 2
                    button.user-profile__item-share-btn 1
                
                li.user-profile__item
                  h3.user-profile__item-title Помощь детям
                  .user-profile__item-pic
                    +retina_img_png("userprofile-item1", "")
                  .user-profile__item-inner
                    .user-profile__item-userpic
                      +retina_img_png("userprofile-user1", "")
                    .user-profile__item-dis
                      span.user-profile__item-name Ivan Ognevich
                      time.user-profile__item-time 15:34
                  p.user-profile__item-text
                    | Ребят, давайте отвезем сегодня 
                    | продукты в питомник для 
                    | собак?

                  .user-profile__item-wrap 
                    .user-profile__item-icon
                      +retina_img_png("clock-icon", "")
                    | 5 декабря в 10:00
                  .user-profile__item-wrap
                    .user-profile__item-icon
                      +retina_img_png("location-icon", "")
                    | Милютинский переулок,5

                  .user-profile__item-btns-bot
                    button.user-profile__item-like-btn.user-profile__item-like-btn--active 14
                    button.user-profile__item-comments-btn 2
                    button.user-profile__item-share-btn 1



              ul.user-profile__item-list#second-list
                li.user-profile__item
                  h3.user-profile__item-title Помощь детям
                  .user-profile__item-pic
                    +retina_img_png("userprofile-item2", "")
                  .user-profile__item-inner
                    .user-profile__item-userpic
                      +retina_img_png("userprofile-user1", "")
                    .user-profile__item-dis
                      span.user-profile__item-name Ivan Ognevich
                      time.user-profile__item-time 15:34
                  p.user-profile__item-text
                    | Ребят, давайте отвезем сегодня 
                    | продукты в питомник для 
                    | собак?

                  .user-profile__item-wrap 
                    .user-profile__item-icon
                      +retina_img_png("clock-icon", "")
                    | 5 декабря в 10:00
                  .user-profile__item-wrap
                    .user-profile__item-icon
                      +retina_img_png("location-icon", "")
                    | Милютинский переулок,5

                  .user-profile__item-btns-bot
                    button.user-profile__item-like-btn.user-profile__item-like-btn--active 14
                    button.user-profile__item-comments-btn 2
                    button.user-profile__item-share-btn 1

                li.user-profile__item
                  h3.user-profile__item-title Помощь детям
                  .user-profile__item-pic
                    +retina_img_png("userprofile-item2", "")
                  .user-profile__item-inner
                    .user-profile__item-userpic
                      +retina_img_png("userprofile-user1", "")
                    .user-profile__item-dis
                      span.user-profile__item-name Ivan Ognevich
                      time.user-profile__item-time 15:34
                  p.user-profile__item-text
                    | Ребят, давайте отвезем сегодня 
                    | продукты в питомник для 
                    | собак?

                  .user-profile__item-wrap 
                    .user-profile__item-icon
                      +retina_img_png("clock-icon", "")
                    | 5 декабря в 10:00
                  .user-profile__item-wrap
                    .user-profile__item-icon
                      +retina_img_png("location-icon", "")
                    | Милютинский переулок,5

                  .user-profile__item-btns-bot
                    button.user-profile__item-like-btn.user-profile__item-like-btn--active 14
                    button.user-profile__item-comments-btn 2
                    button.user-profile__item-share-btn 1
                
                li.user-profile__item
                  h3.user-profile__item-title Помощь детям
                  .user-profile__item-pic
                    +retina_img_png("userprofile-item2", "")
                  .user-profile__item-inner
                    .user-profile__item-userpic
                      +retina_img_png("userprofile-user1", "")
                    .user-profile__item-dis
                      span.user-profile__item-name Ivan Ognevich
                      time.user-profile__item-time 15:34
                  p.user-profile__item-text
                    | Ребят, давайте отвезем сегодня 
                    | продукты в питомник для 
                    | собак?

                  .user-profile__item-wrap 
                    .user-profile__item-icon
                      +retina_img_png("clock-icon", "")
                    | 5 декабря в 10:00
                  .user-profile__item-wrap
                    .user-profile__item-icon
                      +retina_img_png("location-icon", "")
                    | Милютинский переулок,5

                  .user-profile__item-btns-bot
                    button.user-profile__item-like-btn.user-profile__item-like-btn--active 14
                    button.user-profile__item-comments-btn 2
                    button.user-profile__item-share-btn 1



              ul.user-profile__item-list#third-list
                li.user-profile__item
                  h3.user-profile__item-title Помощь детям
                  .user-profile__item-pic
                    +retina_img_png("userprofile-item1", "")
                  .user-profile__item-inner
                    .user-profile__item-userpic
                      +retina_img_png("userprofile-user2", "")
                    .user-profile__item-dis
                      span.user-profile__item-name Ivan Ognevich
                      time.user-profile__item-time 15:34
                  p.user-profile__item-text
                    | Ребят, давайте отвезем сегодня 
                    | продукты в питомник для 
                    | собак?

                  .user-profile__item-wrap 
                    .user-profile__item-icon
                      +retina_img_png("clock-icon", "")
                    | 5 декабря в 10:00
                  .user-profile__item-wrap
                    .user-profile__item-icon
                      +retina_img_png("location-icon", "")
                    | Милютинский переулок,5

                  .user-profile__item-btns-bot
                    button.user-profile__item-like-btn.user-profile__item-like-btn--active 14
                    button.user-profile__item-comments-btn 2
                    button.user-profile__item-share-btn 1

                li.user-profile__item
                  h3.user-profile__item-title Помощь детям
                  .user-profile__item-pic
                    +retina_img_png("userprofile-item1", "")
                  .user-profile__item-inner
                    .user-profile__item-userpic
                      +retina_img_png("userprofile-user2", "")
                    .user-profile__item-dis
                      span.user-profile__item-name Ivan Ognevich
                      time.user-profile__item-time 15:34
                  p.user-profile__item-text
                    | Ребят, давайте отвезем сегодня 
                    | продукты в питомник для 
                    | собак?

                  .user-profile__item-wrap 
                    .user-profile__item-icon
                      +retina_img_png("clock-icon", "")
                    | 5 декабря в 10:00
                  .user-profile__item-wrap
                    .user-profile__item-icon
                      +retina_img_png("location-icon", "")
                    | Милютинский переулок,5

                  .user-profile__item-btns-bot
                    button.user-profile__item-like-btn.user-profile__item-like-btn--active 14
                    button.user-profile__item-comments-btn 2
                    button.user-profile__item-share-btn 1
                
                li.user-profile__item
                  h3.user-profile__item-title Помощь детям
                  .user-profile__item-pic
                    +retina_img_png("userprofile-item1", "")
                  .user-profile__item-inner
                    .user-profile__item-userpic
                      +retina_img_png("userprofile-user2", "")
                    .user-profile__item-dis
                      span.user-profile__item-name Ivan Ognevich
                      time.user-profile__item-time 15:34
                  p.user-profile__item-text
                    | Ребят, давайте отвезем сегодня 
                    | продукты в питомник для 
                    | собак?

                  .user-profile__item-wrap 
                    .user-profile__item-icon
                      +retina_img_png("clock-icon", "")
                    | 5 декабря в 10:00
                  .user-profile__item-wrap
                    .user-profile__item-icon
                      +retina_img_png("location-icon", "")
                    | Милютинский переулок,5

                  .user-profile__item-btns-bot
                    button.user-profile__item-like-btn.user-profile__item-like-btn--active 14
                    button.user-profile__item-comments-btn 2
                    button.user-profile__item-share-btn 1


    script(src="js/pages/user-profile-page.js")
                