include ../includes/variables.jade
include ../includes/mixins/mixins.jade

doctype html
html(lang='en')
  include ../includes/head.jade

  body
    #page.page
      .content
        include ../includes/header.jade
        main.container
          .user-profile
            .user-profile__information
              h2.user-profile__name 
                | Daria Ionova

              .user-profile__userpic
                +retina_img_png('Ionova', 'Ionova')
              
              button(type='button').user-profile__write-btn Написать
              button(type='button').user-profile__subscribe-btn Подписаться

              ul.user-profile__cases-list
                li.user-profile__case
                  span.user-profile__case-title Записей
                  span.user-profile__case-number 17
                li.user-profile__case
                  span.user-profile__case-title Добрых дел
                  span.user-profile__case-number 17
                li.user-profile__case
                  span.user-profile__case-title Наград
                  span.user-profile__case-number 17
                li.user-profile__case
                  span.user-profile__case-title Друзей
                  span.user-profile__case-number 26

              .user-profile__btn-wrap
                button(type='button').user-profile__back-btn Goodyback
                .user-profile__goodyback-icon
                  +retina_img_png('goodyback-icon', '')

            .user-profile__activity
              .user-profile__switcher
                button(type='button').user-profile__switcher-tab Активные
                button(type='button').user-profile__switcher-tab В процессе
                button(type='button').user-profile__switcher-tab Завершенные

              .user-profile__content 
                ul.user-profile__item-list#first-list
                  - for (var i=0; i<3; i++) {
                    include ../includes/blocks/card_01_small.jade
                  - }

                ul.user-profile__item-list#second-list
                  - for (var i=0; i<3; i++) {
                    include ../includes/blocks/card_01_small.jade
                  - }

                ul.user-profile__item-list#third-list
                  - for (var i=0; i<3; i++) {
                    include ../includes/blocks/card_01_small.jade
                  - }

    script(src='js/blocks/more-actions.js')
    script(src='js/pages/user-profile-page.js')
                